.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 8px;
  padding-right: 13px;
  font-size: 1.35rem;
  color: #1c1c1c;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  max-height: 100dvh;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.item {
  margin: 0;
}

.link {
  display: flex;
  gap: 10px;
  align-items: baseline;
  justify-content: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.link:hover .title {
  text-decoration: underline 1px solid #202020;
  text-underline-offset: 4px;
}

.title {
  flex-grow: 1;
  text-align: left;
}

.date {
  color: #202020;
  text-align: right;
  width: calc(20% + 270px);
  font-family: var(--font-barlow), sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  flex-shrink: 0;
}

@media (max-width: 780px) {
  .list {
    padding-right: 13px;
    transform: unset;
    left: 0;
    width: 80vw;
    gap: 2px;
  }

  .link {
    gap: 4px;
  }

  .date {
    text-align: left;
    width: 160px;
    flex-shrink: 0;
  }
}
